<div id="container">
    <div id="sidebar">
        <div id="menu">
            <a href="/dashboard">Dashboard</a>
            <!-- <a href="/debt">Debt</a>
            <a href="/payment">Make a Payment</a> -->
            <a href="#">Logout</a>
        </div>
    </div>
    <div id="contentContainer">
        <div id="header">
            <div id="logo">KGB</div>
        </div>
        <div id="content">
            <router-outlet>
                <h2>Welcome to the KGB Portal</h2>
                <p>Select an option from the sidebar to get started.</p>
            </router-outlet>
        </div>
    </div>
</div>


