
<div id="contentContainer">
  <div id="header">
      <div id="logo">KGB</div>
      <div>
        <a href="/admin">Home</a>
      </div>
  </div>

  </div>
  <div id = "dashboard-container">
    <div id = "dashboard-header">
    <h2>Make Payment</h2>
    <label for="name">Full name:</label>
    <input type="text" id="name" >
    <label for="debtor">Debtor:</label>
    <input type="text" id="depbtor" >
    <label for="account">Account Number:</label>
    <input type="text" id="account" >
    <label for="amount">Enter Amount:</label>
    <input type="number" id="amount" >
    <button (click)="makePayment()">Pay</button>
    </div>
  </div>
  